# dependencies
node_modules
.pnpm-store

# next.js
.next
out
build

# env
.env
.env*.local
.env.local.bak
.env.vercel.production

# debug
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
.vercel

# supabase
supabase/.branches
supabase/.temp
